.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    position: relative;
}
.field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    margin-bottom: 15px;
}
.field label{
    position: relative;
    top: 50%;
    left: 10px;
    color: #535353;
    font-size: 16px;
}
.field input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
}
.field input:focus{
    border-color: #4a90e2;
    outline: none;
}



